{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Title {{ item.title }}</h1>
    <p>{{ item.id }}. {{ item.title }}</p>
    <a href="/item/edit?id={{ item.id }}">Edit</a>
    <form action="/item/delete" method="POST">
        <input type="hidden" name="id" value="{{ item.id }}">
        <button>Delete</button>
    </form>
    <a href="/item">Back</a>
{% endblock %}
