{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="game-title">Games list</h1>
    <ul class="game-list">
        {% for game in games %}
            <li class="game">
                <a href="/games/show?id={{ game.id }}">
                    <figure class="card">
                        <img class="card-image" src="/home/wilder/Documents/reims-php-2109-project2-unlock/public/assets/images/favicon.png" alt="{{game.name}}">
                        <figcaption class="card-caption">{{ game.id }}.{{ game.name }}</figcaption>
                    </figure>
                </a>
            </li>
        {% else %}
            <li class="game">
                <a href="/games/show?id={{ game.id }}">
                    <figure class="card">
                        <img class="card-image" src="" alt="Nothing to display">
                        <figcaption class="card-caption">Nothing to display</figcaption>
                    </figure>
                </a>
            </li>
        {% endfor %}
            <li class="game">
                <a href="/games/show?id={{ game.id }}">
                    <figure class="card">
                        <img class="card-image" src="" alt="Add Cards">
                        <figcaption class="card-caption">Add Cards</figcaption>
                    </figure>
                </a>
            </li>
    </ul>
{% endblock %}
