{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="game-title">Games list</h1>
    <ul class="game-list">
        {% for game in games %}
            <li class="game" style="background : url('{{ game.image_url }}')"><a href="/games/show?id={{ game.id }}"></a></li>
            <h2 class="game-h2">{{ game.id }}.{{ game.name }}</h2>
        {% else %}
            <li class="game" style="background : url('{{ game.image_url }}')"></li>
            <h2 class="game-h2">Nothing to display</h2>
        {% endfor %}
            <li class="game" style="background : url('{{ game.image_url }}')"><a href="/games/cards/add?id={{ game.id }}"></a></li>
            <h2 class="game-h2">Add Cards</h2>
    </ul>
{% endblock %}
