<div class="card">
	<h2 class="card-title">{{ card.name }}</h2>
	<p class="card-description">{{ card.description }}</p>
	<a class="card-link-to-details" href="/games/cards/edit?cardid={{ card.id }}&gameid={{ game_id }}">
		<span class="card-details-span">Choix du numéro</span>
	</a>
	<a class="card-link-to-details" href="/cards/show?id={{ card.id }}">
		<span class="card-details-span">Détails</span>
	</a>
</div>
